
.tabs {
    overflow: hidden;
}

.tabs-icon i {
    display: block;
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: 24px;
}

.no-pd {
    padding: 0 !important
}

.file-modal {  
    width: 90%; 
    height: 90%; 
    top: 5%; 
    left: 5%; 
    right: 5%; 
    bottom: 5%;
}

.profile-div {
    text-align: right;
}

.profile-div img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 5px solid #ee6e73;
}

.full-width {
   width: 100%;
}

.half-width {
   width: 50%;
}

@media screen and (orientation : portrait){
    .down-15vh {
        top: 15vh;
        position: relative;
    }
}

#file {
  display: none;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:40%; 
}