<div class="section no-pad-bot down-15vh">
    <div class="container">
      <br><br>
      <h1 class="header center theme-color">Login {{select.loginRole}}</h1>
      <div class="row center">
        <a href="http://nikhilmaheshwari.com/Demo/Demo_PharmEasy.mp4" target="_blank"><i class="material-icons medium">video_call</i></a>
      </div>
      <div class="row">
        <div class="col offset-l3 l6 m12 s12">
          <select ng-model="select.loginRole" material-select>
            <option value="" disabled>Choose your role</option>
            <option value="Patient">Patient</option>
            <option value="Doctor">Doctor</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col offset-l3 l6 m12 s12">
          <a class="waves-effect waves-light btn-large red full-width" ng-click="commonLogin('google')">
            <i class="fa fa-google" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col offset-l3 l6 m12 s12">
          <a class="waves-effect waves-light btn-large light-blue full-width" ng-click="commonLogin('facebook')"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
      </div> -->
      <div class="row">
        <div class="col offset-l3 l6 m12 s12">
          <a class="waves-effect waves-light btn-large light-blue full-width" ng-click="commonLogin('twitter')">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
</div>