<div class="row">
  <div class="col s12 no-pd">
    <ul tabs class="tabs tabs-icon" reload="allTabContentLoaded">
      <li class="tab col s6"><a class="active" href="#user-profile"><i class="material-icons">person</i>Profile</a></li>
      <li class="tab col s6 {{!userData ? 'disabled' : ''}}"><a href="#list-documents" ng-click="fetchFilesFromDB()"><i class="material-icons">list</i>Listing</a></li>
    </ul>
  </div>
  <div id="user-profile" class="col offset-l2 l8 m12 s12">
    <div class="row offset-l2 l8 m12 s12" ng-hide="!userData">
      <h3 class="center">Profile</h3>
      <div class="col offset-l1 l4 m6 s6 profile-div">
        <img src="{{userData.photoURL}}" />
      </div>
      <div class="col offset-l1 l4 m6 s6">
        <blockquote>{{userData.displayName}}</blockquote>
        <blockquote>{{userData.email}}</blockquote>
        <blockquote>Role : {{userData.role}}</blockquote>
      </div>
    </div>
    <div class="row offset-l2 l8 m12 s12 center" ng-hide="userData">
      <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row offset-l2 l8 m12 s12 center" ng-hide="!userData">
      <a class="waves-effect waves-light btn-large red accent-2 half-width" ng-click="logout()">
        Logout
      </a>
    </div>
  </div>
  <div id="list-documents" class="col offset-l2 l8 m12 s12">
    <input type="file" id="file" name="file"/>
    <div class="progress" ng-hide="uploadProgress == 0">
      <div class="determinate" style="width: {{uploadProgress}}%"></div>
    </div>
    <h3 class="center">Your Files</h3>
    <!-- <blockquote>Green  : Response not yet Recorced</blockquote>
    <blockquote>Yellow : Response has been Recorded</blockquote> -->
    <ul class="collection">
      <li class="collection-item avatar" ng-repeat="file in files">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">{{file.name}}</span>
        <p>{{getTime(file.when)}}</p>
        <p ng-hide="file.requestedBy.length == 0"><b>Requested By :</b> {{file.requestedBy.join(', ')}}</p>
        <p ng-hide="file.sharedWith.length == 0"><b>Shared With :</b> {{file.sharedWith.join(', ')}}</p>
        <div class="fixed-action-btn horizontal secondary-content">
          <a class="btn-floating green"
              ng-click="setFileToPreview(file)"
              data-target="file-preview" modal tooltipped data-position="top" data-delay="50"
              data-tooltip="{{file.name}}">
            <i class="material-icons">search</i>
          </a>
          <a class="btn-floating yellow"
              ng-click="setFileToPreview(file)"
              data-target="file-shared-with" modal tooltipped data-position="top" data-delay="50"
              data-tooltip="{{file.name}}">
            <i class="material-icons">share</i>
          </a>
        </div>
      </li>
    </ul>
    <div class="fixed-action-btn" ng-click="openFileDialog()">
      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
  </div>
</div>
<div id="file-preview" class="modal modal-fixed-footer file-modal">
  <div class="modal-content">
    <h4>{{fileToPreview.name}}</h4>
    <div class="card" ng-show="fileToPreview.name.split('.').pop() != 'pdf'">
      <div class="card-image">
        <img src="{{fileToPreview.url}}">
      </div>
    </div>
    <iframe ng-src="{{fileToPreview.url | trustThisUrl}}"
      width="100%" height="100%"
      ng-show="fileToPreview.name.split('.').pop() == 'pdf'" />
  </div>
  <div class="modal-footer">
    <a href class="modal-action modal-close btn waves-effect waves-light red">Close</a>
  </div>
</div>
<div id="file-shared-with" class="modal modal-fixed-footer file-modal">
  <div class="modal-content">
    <h4>{{fileToPreview.name}}</h4>
    <div class="input-field inline">
      <input id="user_email" type="email" class="validate" ng-model="emailToShare">
      <label for="user_email">Email</label>
    </div>
    <a class="btn-floating" ng-click="shareWithUser(fileToPreview)"><i class="material-icons">add</i></a>
    <ul class="collection with-header">
      <li class="collection-header"><h4>Shared With</h4></li>
      <li class="collection-item" ng-repeat="user in fileToPreview.sharedWith">
        <div>{{user}}<a class="secondary-content" ng-click="removeAccess(fileToPreview, user)"><i class="material-icons">remove</i></a></div>
      </li>
    </ul>
    <ul class="collection with-header">
      <li class="collection-header"><h4>Requested By</h4></li>
      <li class="collection-item" ng-repeat="user in fileToPreview.requestedBy">
        <div>{{user}}<a class="secondary-content" ng-click="grantAccess(fileToPreview, user)"><i class="material-icons">add</i></a></div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href class="modal-action modal-close btn waves-effect waves-light red">Close</a>
  </div>
</div>
